{{#if useragent}}
<div class="row">
    {{#each allProduct}}
    <div class="col-6 pl-4">
        <div class="card mt-4 p-0" style="width: 10.6rem; height:14rem;">
            <img src="{{this.src}}" class="card-img-top" alt="..." style="width: 120px; height: 120px;">
            <div class="card-body">
                <p class="card-text">{{this.Name}}</p>
                <p class="text-success"><del class="text-dark">₹{{this.First_price}}</del> ₹{{this.Last_price}}</p>
            </div>
        </div>
    </div>
    {{/each}}
</div>

{{else}}
<div class="row">
    {{#each allProduct}}
    <div class="col-md-2 pl-4">
        <div class="card mt-4" style="width: 12rem; height:20rem;">
            <img src="{{this.src}}" class="card-img-top" alt="..." style="width: 180px; height: 170px;">
            <div class="card-body">
                <p class="card-text">{{this.Name}}</p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
        </div>
    </div>
    {{/each}}
</div>
{{/if}}